/* Header Top CSS  */
.header-top {
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid #939596;
}

.logo{
    text-align: center;
    border-right: 1px solid #939596;
    height: 100%;
    padding: 30px 0;
    box-sizing: border-box;
}
.res-nav{
    display: none;
}


.main-menu nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-menu ul li {
    display: inline-block;
    margin-left: 25px;
    position: relative;
}

.main-menu ul li a {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s;
}


.main-menu ul li a:hover{
    opacity: 0.5;
}

.main-menu ul li ul {
    display: none;
    position: absolute;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.5s;
    background:#333;
    padding: 0 10px;
}

.main-menu ul li ul a{
    line-height:2;
}

.main-menu ul ul li {
    display: block;
    margin-left: 0;
}

.main-menu ul li:hover > ul {
    display: block;
}


.icon-search-container .icons {
    height: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    border-right: 1px solid #939596;
}
.social-icons ul {
    margin: 0 30px 0 0 ;
    padding: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-left: 20px;
}

.social-icons ul li a {
    color: #fff;
    font-size: 30px;
}

.social-icons li:first-child {
    margin-left: 0;
}
.icon-search-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}
.search-btn a {
    color: #fff;
    font-size: 30px;
}
.search-btn {
    border-right: 1px solid #939596;
    padding: 30px;
}
.header-contact-info {
    color: #fff;
    font-size: 20px;
}

.header-contact-info p {
    margin: 0;
}

.header-contact-info p:last-child {
    line-height: 2;
}

 

/* Header Top Responsive CSS  */

@media only screen and (max-width: 1560px){
    .header-top{
        grid-template-columns: 1fr 2fr 1.4fr 0.6fr;
        
    }
    .main-menu ul li a{
        font-size:16px;
    }
    .social-icons ul li a{
        font-size:20px;
    }
    .header-contact-info{
        font-size:16px;
    }

    .logo{
        padding: 20px 0;
    }



    .search-btn{
        padding: 20px;
    }
    .social-icons ul{
        margin: none !important;
    }
 

    .search-btn a{
        font-size:20px;
    }
}

@media only screen and (max-width: 1360px){
    .header-top{
        grid-template-columns: 1fr;
        border:none;
    }

    .logo{
        border: none;
    }

    .icon-search-container .icons{
        border: none;
    }
    .search-btn{
        border: none;
    }

    .icon-search-container{
        justify-content: center;
    }

    .search-btn{
        padding: 30px;
    }
    .search-btn a {
        font-size:30px
    }
    .social-icons ul li a{
        font-size:30px;
    }

    .header-contact-info{
        text-align: center;
    }

    .res-nav{
        display: block;
    }
    button.res-nav {
        color: #fff;
        background: #3C72FC;
        border: none;
        padding: 10px;
        margin: 0 auto;
    }
    
    button.res-nav svg {
        margin-left: 8px;
    }

    .main-menu ul{
        display: none;
    }
    #hidden{
        display:block;
        position: absolute;
        top: 130px;
        left: 50%;
        background-color: #333;
        padding: 20px 100px;
        transform: translate(-50%)
    }
    #hidden li{
        display:block;
        margin-top: 10px;
    }




}