/* Header Content CSS   */

.header-content {
  
    padding: 0px 0px 0px 200px;
}

.header-content div{
    padding-bottom: 150px;
}

.header-content h6 {
    width: 316px;
    background: #434B4DBD;
    padding: 10px 0;
    text-align: center;
    color: #fcfcfc;
    font-size: 18px;
    font-weight: 500;
    border-radius: 2px;
    letter-spacing: 0.4px;
    margin-top: 100px;
}

.header-content h1 {
    margin-top: 40px;
    color: #fcfcfc;
    font-size: 80px;
    line-height:1.2;
    margin-bottom: 40px;
    width: 530px;
}

a.custom-btn {
    background: #3C72FC;
    text-align: center;
    color: #fcfcfc;
    text-decoration: none;
    width: 190px;
    display: block;
    padding: 20px;
    border-radius: 1px;
    font-size: 18px;
}

/* Header Content Responsive CSS   */
@media only screen and (max-width: 1360px){
    .header-content{
        padding: 0 0 0 0;
    }

    .header-content h6{
        margin: 20px auto;
    }

    .header-content h1{
        text-align: center;
        width: 100%;
        font-size: 30px;
    }

    .custom-btn{
        margin: auto;
    }

    .header-content div{
        padding-bottom: 50px;
    }

}
@media only screen and (max-width: 992px){
    a.custom-btn{
        font-size: 14px;
    }
}

