.mission{
    background-image: url('./../../../img/our-mission-bg.png');
    background-size: cover;
    background-position: top center;
    height:540px;
}


.mission h1{
    margin: 0 auto;
    font: normal normal bold 60px/70px Jost;
    color: white;
}


.mission .mission-btn {
    font: normal normal bold 18px/23px Jost;
    letter-spacing: 0.61px;
    color: #FCFCFC;
    background: #3C72FC;
    padding: 20px;
    border: 1px solid #3C72FC;
    margin-top: 30px;
  
}

.mission-content:after {content: '';width: 100%;height: 100%;position: absolute;background: #000;left: 0;top: 0;opacity: 0.9;z-index: -1;}

.mission-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.mission-content-inner {
    text-align: center;
    width: 60%;
    margin: auto;
    padding-top: 7%;
}

@media only screen and (max-width: 1360px){
    .mission-content-inner {
        width: 80%;
    }

    .mission h1{
        font-size: 40px;
    }
}

@media only screen and (max-width: 900px){
    .mission-content-inner {
        width: 95%;
    }
}